In [2]:
import pandas as pd
import cufflinks as cf
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.model_selection import train_test_split
import plotly.graph_objects as go
from sklearn.metrics import mean_squared_error

TEST_SIZE = 0

cf.go_offline()
df = pd.DataFrame(pd.read_excel('apartments.xlsx'))
display(df)
df.drop(columns=['ad_id', 'furnished', 'move_in_date'], inplace=True)
print(df.columns)

,ad_id,unit_type,bedrooms,bathrooms,hydro,heat,water,internet,cable,num_utils,...,Fridge,washer_drier,dishwasher,a_c,num_appliances,outdoor_space,smoking,mins_guelph,mins_waterloo,price
0,1494496767,basement,1,1,1,1,1,1,0,4,...,1,0,0,1,2,1,0,10,28,1200
1,1495630096,duplex,1,1,0,1,1,0,0,2,...,1,1,0,1,3,1,0,20,19,1300
2,1494306061,"shared, basement",1,1,0,0,0,0,0,0,...,1,1,0,1,3,1,1,5,37,900
3,1495004948,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,8,29,1550
4,1493993007,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,8,29,1675
5,1494785007,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,8,29,1725
6,1390040368,apartment,1,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,25,15,1385
7,1494556820,apartment,1,1,1,1,1,0,0,3,...,1,0,0,0,1,1,0,3,31,1450
8,1494393272,apartment,1,1,1,1,1,0,0,3,...,0,1,0,1,2,1,0,23,24,1100
9,1485930218,apartment,1,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,11,26,1360
10,1463629444,apartment,1,1,0,0,0,0,0,0,...,1,0,0,0,1,1,0,24,24,1350
11,1321009006,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,23,23,1425
12,1424979341,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,0,0,4,36,1650
13,1491391276,apartment,1,1,0,0,0,0,0,0,...,1,1,1,1,4,1,0,6,35,1615
14,1492769175,apartment,1,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,13,43,1275
15,1494647865,basement,1,1,1,1,1,1,0,4,...,1,0,0,1,2,0,0,4,29,1200
16,1472270367,apartment,2,1,0,1,1,0,0,2,...,1,0,0,0,1,1,0,26,17,1730
17,1472270368,apartment,2,1,0,1,1,0,0,2,...,1,0,1,0,2,1,0,26,17,1310
18,1491566761,apartment,2,2,0,0,0,0,0,0,...,1,1,1,1,4,1,0,6,35,1920
19,1484667422,apartment,3,2,0,1,1,0,0,2,...,0,0,0,0,0,1,0,27,17,1925
20,1484667421,apartment,2,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,27,17,1615
21,1484667420,apartment,1,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,27,17,1305
22,1489369684,apartment,2,1,0,1,1,0,0,2,...,1,1,1,1,4,0,0,31,7,1640
23,1489369685,apartment,2,1,0,1,1,0,0,2,...,1,1,1,1,4,0,0,31,7,1630
24,1489369686,apartment,1,1,0,1,1,0,0,2,...,1,1,1,1,4,0,0,31,7,1390
25,1429202304,apartment,1,1,0,1,1,0,0,2,...,1,1,1,1,4,0,0,31,7,1500
26,1493753228,basement,2,1,0,0,0,0,0,0,...,1,1,0,1,3,1,0,28,16,1475
27,1474412491,basement,1,1,1,1,1,1,0,4,...,1,1,0,1,3,0,0,32,4,1050
28,1495151076,basement,2,1,1,1,1,0,0,3,...,1,1,0,1,3,0,0,29,10,1600
29,1491911355,apartment,1,1,1,1,1,0,0,3,...,1,1,0,0,2,0,0,28,7,1250
30,1488537177,apartment,1,1,0,0,0,0,0,0,...,1,1,0,0,2,0,0,31,5,1500
31,1489557318,duplex,6,2,0,0,1,1,0,2,...,1,1,0,1,3,1,1,4,31,3675
32,1495629284,apartment,1,1,0,1,1,0,0,2,...,1,1,1,1,4,1,1,27,13,1400
33,1494733950,basement,1,1,1,1,1,1,0,4,...,1,1,0,1,3,0,0,6,35,1100
34,1494156339,house,4,3,0,0,0,0,0,0,...,1,1,1,0,3,0,1,3,36,2400
35,1495175103,apartment,2,1,0,1,1,0,0,2,...,1,0,0,0,1,1,0,11,27,1600
36,1494557127,apartment,2,1,0,1,1,0,0,2,...,1,1,0,1,3,1,0,8,30,1630
37,1494556814,apartment,2,2,1,1,1,0,0,3,...,1,1,1,0,3,1,0,3,32,1750
38,1495230856,basement,1,1,1,1,1,1,1,5,...,1,0,0,1,2,1,1,16,30,1150
39,1494499045,apartment,2,1,0,1,1,0,0,2,...,1,0,0,0,1,1,1,54,51,1200
40,1494135824,apartment,3,1,0,1,0,0,0,1,...,1,0,0,0,1,0,0,6,31,1600
41,1486099019,apartment,2,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,7,29,1425
42,1483696667,apartment,3,1,0,1,1,0,0,2,...,1,1,1,0,3,1,0,8,28,2125
43,1494153597,apartment,1,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,24,34,1305
44,1494153598,apartment,2,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,24,34,1370
45,1494153599,apartment,3,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,24,34,1475
46,1483667901,apartment,2,1,0,1,1,0,0,2,...,1,1,1,0,3,1,0,8,28,1815
47,1483667901,apartment,3,1,0,1,1,0,0,2,...,1,1,1,0,3,1,0,8,28,2125
48,1483667901,apartment,2,1,0,1,1,0,0,2,...,1,1,1,0,3,1,0,8,28,1880
49,1483667901,apartment,3,1,0,1,1,0,0,2,...,1,1,1,0,3,1,0,8,28,2190
50,1490805444,apartment,2,1,0,0,0,0,0,0,...,1,1,0,0,2,1,0,5,31,1705
51,1490805444,apartment,1,1,0,0,0,0,0,0,...,1,1,0,0,2,1,0,5,31,1525
52,1458068019,apartment,1,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,21,34,1255
53,1458068018,apartment,2,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,21,34,1355

Index(['unit_type', 'bedrooms', 'bathrooms', 'hydro', 'heat', 'water',
       'internet', 'cable', 'num_utils', 'gym', 'pool', 'elevator',
       'num_extras', 'parking_spots', 'agreement', 'days_until_move_in',
       'pets', 'size', 'Fridge', 'washer_drier', 'dishwasher', 'a_c',
       'num_appliances', 'outdoor_space', 'smoking', 'mins_guelph',
       'mins_waterloo', 'price'],
      dtype='object')

In [ ]:
drop_columns = ['unit_type', 'bedrooms','num_utils', 
       'num_extras', 'parking_spots', 'pets', 
                'size', 'num_appliances', 'price']
df.drop(columns=drop_columns).scatter_matrix()

## Plotting price and size, we can see there is a clear relationship between both attributes

In [ ]:
df['price'].iplot(kind='histogram', xTitle='Price of Apartment', title='frequencies of apartment prices')
df[['size']].iplot(kind='histogram', xTitle='Size of Apartment (SqFt)', title='frequencies of apartment sizes in sqft')

## Lets look at the bedrooms and the different utilities and extras

In [ ]:
df[['num_utils', 'num_extras', 'num_appliances']].iplot(kind='histogram', 
                                                    title='Number of Amenities by Groups')
print('Utils are hydro, heat, water, internet, tv, \n\
appliances are fridge, washer&dryer, a/c, dishwasher \n\
extras are pool, gym, elevator')

In [ ]:
df[['bedrooms']].iplot(kind='histogram')

In [ ]:
df[['mins_guelph', 'mins_waterloo']].iplot(kind='histogram', 
                                           xTitle='Distances in minutes to Univ. Guelph (Orange) /Waterloo (Blue)',
                                           title='Frequencies of Distances to Respective Universities')

In [ ]:
import matplotlib.pyplot as plt 

layout1 = cf.Layout(
    height=900,
    width=1000
)
df.corr().iplot(kind='heatmap',
                colorscale="PuRd",
                title="Feature Correlation Matrix",
               layout=layout1)

## Simple Regression, Baseline Model

In [ ]:
# scatter plot

train = df[df['size'] > 0]
fig = train.iplot(asFigure=True, 
                  x='size', 
                  y='price',
                  mode='markers',
                  title='Simple Scatter Plot to Visualize Usefulness of Linear Regression')
fig.show()

In [ ]:
regressor = LinearRegression()
if TEST_SIZE:
    X_train, X_test, y_train, y_test = train_test_split(
        train.loc[:, ['size']],
        train.loc[:, ['price']],
        test_size=0.15,
        random_state=123
    )
else:
    
    X_train, y_train, = train.loc[:, ['size']], train.loc[:, ['price']]
    X_test, y_test = X_train, y_train
    
regressor.fit(X_train, y_train)

# #To retrieve the intercept:
print(regressor.intercept_)
# #For retrieving the slope:
print(regressor.coef_)

In [ ]:
# X = np.array(np.linspace(min(train['size']), max(train['size']), 50))
y_pred = list( regressor.predict( X_test ).reshape(-1) )

test = pd.DataFrame({'x' : X_test['size'],
                          'y_test' : y_test['price'],
                          'y_pred' : y_pred
                    })

fig = go.Figure()

fig.update_layout(title='Regression Line Plotted vs Training Points')
# draw training points
fig.add_trace(go.Scatter(x=train['size'], 
                         y=train['price'],
                         mode='markers',
                         name='Points',
                        ))


# draw regression line
fig.add_trace(go.Scatter(x=test['x'], y=test['y_pred'],mode='lines', name='Regression Line'))


MSE = mean_squared_error(train['price'], test['y_pred'])
RMS = MSE**(1/2)
print('MSE', MSE, '\nRMS', RMS)

fig.show()

## Add More Features, Multiple Linear Regression

In [ ]:
mult_regressor = LinearRegression()
features = ['num_appliances', 'num_utils', 'num_extras', 'size']
if TEST_SIZE:

    X_train, X_test, y_train, y_test = train_test_split(
        train.loc[:, features],
        train.loc[:, ['price']],
        test_size=0.15,
        random_state=123
    )
else:
    
    X_train, y_train = train.loc[:, features], train.loc[:, ['price']]
    X_test, y_test = X_train,  y_train

mult_regressor.fit(X_train, y_train)
# #To retrieve the intercept:
print(mult_regressor.intercept_)
# #For retrieving the slope:
print(mult_regressor.coef_)

In [ ]:
y_pred = list( mult_regressor.predict( X_test ).reshape(-1) )

mult_test = pd.DataFrame({'x' : X_test['size'],
                          'y_test' : y_test['price'],
                          'y_pred' : y_pred
                    })

fig = go.Figure()

fig.update_layout(title='Multiple Regression Predictions (Red) Plotted vs Ground Truths (Blue)')

fig.add_trace(go.Scatter(x=X_test['size'], 
                         y=y_test['price'],
                         mode='markers',
                         name='ground_truths'))

fig.add_trace(go.Scatter(x=X_test['size'],
                         y=y_pred,
                         mode='markers',
                         name='predictions'))



fig.show()

MSE = mean_squared_error(y_test, y_pred)
RMS = MSE**(1/2)
print('MSE', MSE, '\nRMS', RMS)