# The goal is to find an apartment that is below its predicted price. That is to say, an apartment that is quantifiably 'a good deal'.

In [1]:
import pandas as pd
import cufflinks as cf
import sklearn
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.model_selection import train_test_split
import plotly.graph_objects as go
from sklearn.metrics import mean_squared_error
import plotly.express as px

TEST_SIZE = 0
NORMALIZE = False
BUDGET = 1300

cf.go_offline()
df = pd.DataFrame(pd.read_excel('apartments.xlsx'))
display(df)
df.drop(columns=['furnished', 'move_in_date'], inplace=True)

,ad_id,unit_type,bedrooms,bathrooms,hydro,heat,water,internet,cable,num_utils,...,Fridge,washer_drier,dishwasher,a_c,num_appliances,outdoor_space,smoking,mins_guelph,mins_waterloo,price
0,1494496767,basement,1.0,1,1,1,1,1,0,4,...,1,0,0,1,2,1,0,10,28,1200
1,1495630096,duplex,1.0,1,0,1,1,0,0,2,...,1,1,0,1,3,1,0,20,19,1300
2,1494306061,"shared, basement",1.0,1,0,0,0,0,0,0,...,1,1,0,1,3,1,1,5,37,900
3,1495004948,apartment,1.0,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,8,29,1550
4,1493993007,apartment,1.0,1,0,1,1,0,0,2,...,0,0,0,0,0,1,0,8,29,1675
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,10,apartment,2.0,1,0,1,1,0,0,2,...,1,1,0,0,2,1,0,8,29,1405
66,1494328132,basement,1.0,1,1,1,1,0,0,3,...,1,1,1,1,4,0,0,7,31,1300
67,1495315557,apartment,2.0,1,0,1,1,0,0,2,...,1,1,0,0,2,1,1,4,32,1505
68,1490940151,apartment,2.0,1,0,1,1,0,0,2,...,1,0,0,0,1,1,0,7,29,1600
69,1492713161,apartment,1.0,1,1,1,1,0,0,3,...,1,1,0,1,3,0,0,5,31,1600

### Note: The original data source did not have num_utils, num_appliances and num_extras. They are composite attributes that I made as such:

#### num_utils are hydro, heat, water, internet, tv
#### num_appliances are fridge, washer&dryer, a/c, dishwasher
#### num_extras are pool, gym, elevator

### I did this because these features seem to be more useful as a single attribute than as several boolean values

### 2nd Note: the features 'mins_guelph' and 'mins_waterloo', were added more for personal reasons than for analyitical reasons but they may prove to be useful later.

In [2]:
def summary(df):
    ret = {}
    ret['null'] = df.isnull().sum()
    ret['null_avg'] = df.isnull().mean()
    ret['dtypes'] = df.dtypes
    ret['count'] = df.count()
    ret['std_dev'] = df.std()
    ret['mean'] = df.mean()
    ret['median'] = df.median()
    ret['min'] = df.min()
    ret['max'] = df.max()
    return pd.DataFrame(ret)

display(summary(df))
print(df.dtypes.value_counts())

,null,null_avg,dtypes,count,std_dev,mean,median,min,max
Fridge,0,0.000000,int64,70,3.524537e-01,8.571429e-01,1.000000e+00,0,1
a_c,0,0.000000,int64,70,4.866755e-01,3.714286e-01,0.000000e+00,0,1
ad_id,0,0.000000,int64,70,1.792767e+08,1.461680e+09,1.492312e+09,10,1496005699
agreement,0,0.000000,int64,70,2.571705e+00,1.137143e+01,1.200000e+01,1,12
bathrooms,0,0.000000,int64,70,3.468283e-01,1.100000e+00,1.000000e+00,1,3
bedrooms,0,0.000000,float64,70,8.746487e-01,1.714286e+00,2.000000e+00,1,6
cable,0,0.000000,int64,70,1.195229e-01,1.428571e-02,0.000000e+00,0,1
days_until_move_in,0,0.000000,int64,70,2.040292e+01,4.157143e+00,0.000000e+00,-99,50
dishwasher,0,0.000000,int64,70,4.615663e-01,3.000000e-01,0.000000e+00,0,1
elevator,0,0.000000,int64,70,4.984448e-01,4.285714e-01,0.000000e+00,0,1
gym,0,0.000000,int64,70,3.796042e-01,1.714286e-01,0.000000e+00,0,1
heat,0,0.000000,int64,70,3.796042e-01,8.285714e-01,1.000000e+00,0,1
hydro,0,0.000000,int64,70,4.229444e-01,2.285714e-01,0.000000e+00,0,1
internet,0,0.000000,int64,70,3.021661e-01,1.000000e-01,0.000000e+00,0,1
mins_guelph,0,0.000000,int64,70,1.118477e+01,1.612857e+01,1.050000e+01,3,54
mins_waterloo,0,0.000000,int64,70,1.025719e+01,2.548571e+01,2.900000e+01,4,51
num_appliances,0,0.000000,int64,70,1.190455e+00,2.214286e+00,2.000000e+00,0,4
num_extras,0,0.000000,int64,70,9.223474e-01,7.000000e-01,0.000000e+00,0,3
num_utils,0,0.000000,int64,70,1.103355e+00,2.000000e+00,2.000000e+00,0,5
outdoor_space,0,0.000000,int64,70,4.479075e-01,7.285714e-01,1.000000e+00,0,1
parking_spots,0,0.000000,int64,70,6.625129e-01,7.142857e-01,1.000000e+00,0,3
pets,0,0.000000,int64,70,4.984448e-01,5.714286e-01,1.000000e+00,0,1
pool,0,0.000000,int64,70,3.021661e-01,1.000000e-01,0.000000e+00,0,1
price,0,0.000000,int64,70,3.801793e+02,1.546429e+03,1.500000e+03,900,3675
size,4,0.057143,float64,66,2.862239e+02,8.398333e+02,8.000000e+02,500,2400
smoking,0,0.000000,int64,70,3.371418e-01,1.285714e-01,0.000000e+00,0,1
unit_type,0,0.000000,object,70,NaN,NaN,NaN,apartment,"shared, basement"
washer_drier,0,0.000000,int64,70,4.675827e-01,6.857143e-01,1.000000e+00,0,1
water,0,0.000000,int64,70,3.796042e-01,8.285714e-01,1.000000e+00,0,1

int64      26
float64     2
object      1
dtype: int64

## Normalize data __TODO

In [5]:
from sklearn.preprocessing import StandardScaler
categorical = ['ad_id', 'unit_type']
cat = df.loc[:, categorical]
num = df.drop(columns=categorical)
norm = pd.concat([pd.DataFrame(StandardScaler().fit_transform(num), columns = num.columns), cat], axis = 1)
display(norm)
if NORMALIZE == True:
    df = norm
    

display(summary(df))

,bedrooms,bathrooms,hydro,heat,water,internet,cable,num_utils,gym,pool,...,dishwasher,a_c,num_appliances,outdoor_space,smoking,mins_guelph,mins_waterloo,price,ad_id,unit_type
0,-0.822551,-0.290409,1.837117,0.454859,0.454859,3.000000,-0.120386,1.825742,-0.454859,-0.333333,...,-0.654654,1.300887,-0.181303,0.610368,-0.384111,-0.551895,0.246894,-0.917803,1494496767,basement
1,-0.822551,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,-0.454859,-0.333333,...,-0.654654,1.300887,0.664777,0.610368,-0.384111,0.348633,-0.636875,-0.652870,1495630096,duplex
2,-0.822551,-0.290409,-0.544331,-2.198484,-2.198484,-0.333333,-0.120386,-1.825742,-0.454859,-0.333333,...,-0.654654,1.300887,0.664777,0.610368,2.603417,-1.002159,1.130663,-1.712602,1494306061,"shared, basement"
3,-0.822551,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,2.198484,3.000000,...,-0.654654,-0.768706,-1.873462,0.610368,-0.384111,-0.732001,0.345091,0.009462,1495004948,apartment
4,-0.822551,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,2.198484,3.000000,...,-0.654654,-0.768706,-1.873462,0.610368,-0.384111,-0.732001,0.345091,0.340628,1493993007,apartment
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,0.329020,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,-0.454859,-0.333333,...,-0.654654,-0.768706,-0.181303,0.610368,-0.384111,-0.732001,0.345091,-0.374691,10,apartment
66,-0.822551,-0.290409,1.837117,0.454859,0.454859,-0.333333,-0.120386,0.912871,-0.454859,-0.333333,...,1.527525,1.300887,1.510857,-1.638356,-0.384111,-0.822053,0.541484,-0.652870,1494328132,basement
67,0.329020,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,-0.454859,-0.333333,...,-0.654654,-0.768706,-0.181303,0.610368,2.603417,-1.092212,0.639680,-0.109758,1495315557,apartment
68,0.329020,-0.290409,-0.544331,0.454859,0.454859,-0.333333,-0.120386,0.000000,-0.454859,-0.333333,...,-0.654654,-0.768706,-1.027383,0.610368,-0.384111,-0.822053,0.345091,0.141928,1490940151,apartment
69,-0.822551,-0.290409,1.837117,0.454859,0.454859,-0.333333,-0.120386,0.912871,-0.454859,-0.333333,...,-0.654654,1.300887,0.664777,-1.638356,-0.384111,-1.002159,0.541484,0.141928,1492713161,apartment

,null,null_avg,dtypes,count,std_dev,mean,median,min,max
Fridge,0,0.000000,int64,70,3.524537e-01,8.571429e-01,1.000000e+00,0,1
a_c,0,0.000000,int64,70,4.866755e-01,3.714286e-01,0.000000e+00,0,1
ad_id,0,0.000000,int64,70,1.792767e+08,1.461680e+09,1.492312e+09,10,1496005699
agreement,0,0.000000,int64,70,2.571705e+00,1.137143e+01,1.200000e+01,1,12
bathrooms,0,0.000000,int64,70,3.468283e-01,1.100000e+00,1.000000e+00,1,3
bedrooms,0,0.000000,float64,70,8.746487e-01,1.714286e+00,2.000000e+00,1,6
cable,0,0.000000,int64,70,1.195229e-01,1.428571e-02,0.000000e+00,0,1
days_until_move_in,0,0.000000,int64,70,2.040292e+01,4.157143e+00,0.000000e+00,-99,50
dishwasher,0,0.000000,int64,70,4.615663e-01,3.000000e-01,0.000000e+00,0,1
elevator,0,0.000000,int64,70,4.984448e-01,4.285714e-01,0.000000e+00,0,1
gym,0,0.000000,int64,70,3.796042e-01,1.714286e-01,0.000000e+00,0,1
heat,0,0.000000,int64,70,3.796042e-01,8.285714e-01,1.000000e+00,0,1
hydro,0,0.000000,int64,70,4.229444e-01,2.285714e-01,0.000000e+00,0,1
internet,0,0.000000,int64,70,3.021661e-01,1.000000e-01,0.000000e+00,0,1
mins_guelph,0,0.000000,int64,70,1.118477e+01,1.612857e+01,1.050000e+01,3,54
mins_waterloo,0,0.000000,int64,70,1.025719e+01,2.548571e+01,2.900000e+01,4,51
num_appliances,0,0.000000,int64,70,1.190455e+00,2.214286e+00,2.000000e+00,0,4
num_extras,0,0.000000,int64,70,9.223474e-01,7.000000e-01,0.000000e+00,0,3
num_utils,0,0.000000,int64,70,1.103355e+00,2.000000e+00,2.000000e+00,0,5
outdoor_space,0,0.000000,int64,70,4.479075e-01,7.285714e-01,1.000000e+00,0,1
parking_spots,0,0.000000,int64,70,6.625129e-01,7.142857e-01,1.000000e+00,0,3
pets,0,0.000000,int64,70,4.984448e-01,5.714286e-01,1.000000e+00,0,1
pool,0,0.000000,int64,70,3.021661e-01,1.000000e-01,0.000000e+00,0,1
price,0,0.000000,int64,70,3.801793e+02,1.546429e+03,1.500000e+03,900,3675
size,4,0.057143,float64,66,2.862239e+02,8.398333e+02,8.000000e+02,500,2400
smoking,0,0.000000,int64,70,3.371418e-01,1.285714e-01,0.000000e+00,0,1
unit_type,0,0.000000,object,70,NaN,NaN,NaN,apartment,"shared, basement"
washer_drier,0,0.000000,int64,70,4.675827e-01,6.857143e-01,1.000000e+00,0,1
water,0,0.000000,int64,70,3.796042e-01,8.285714e-01,1.000000e+00,0,1

## Change non-categorical numeric fields to float and drop fields that were grouped into  a composite field

In [ ]:
df = df.drop(columns = ['hydro', 'heat', 'water',
                   'internet', 'cable', 'gym', 'pool', 'elevator',
                   'Fridge', 'washer_drier', 'dishwasher', 'a_c'])
    
change_int_to_float = ['bathrooms', 'bedrooms','num_appliances', 'num_extras','num_utils', 'mins_guelph', 'mins_waterloo',
                      'price', 'size']

for feat in change_int_to_float:
    df[feat] = df[feat].astype('float64')
    
display(summary(df))

## Originally about half of the ads did not specify 'size'. Most of them could be found on the realtor websites, but there are still some missing values (because I could not find on the websites)
### To fix this I tried a mean imputation

In [ ]:
def impute_size(row):
    if str(row['size']) == 'nan':
        row['size'] = df['size'].mean()
        
    return row

df = df.apply(impute_size, axis = 1)
    

display(summary(df))

## Outlier Detections with DBSCAN __TODO

## Info on the potential driving distances from each apartment

In [ ]:
df[['mins_guelph', 'mins_waterloo']].iplot(kind='histogram', 
                                           xTitle='Distances in minutes to Univ. Guelph (Orange) /Waterloo (Blue)',
                                           title='Frequencies of Distances to Respective Universities')

In [ ]:
MINS_WATERLOO_GUELPH = 33

travel_time = []
is_walking_distance = []
# if guelph is in walking distance, don't count it in daily travels
for i, row in df.iterrows():
    if row['mins_guelph'] > 5:
        time = row['mins_guelph']*2+MINS_WATERLOO_GUELPH*2  
        is_walking_distance.append(False)
    else:
        time = 2*row['mins_waterloo']
        is_walking_distance.append(True)
        
    travel_time.append(time)
    

travel_df = pd.DataFrame({'ad_id': df['ad_id'], 'daily_travel_dist' : travel_time, 'walkable' : is_walking_distance})
fig = px.histogram(travel_df,
                   x='daily_travel_dist',
                   color='walkable',
                   opacity=0.6,
                   hover_data=travel_df.columns,
                   marginal='box')
fig.show()

## More scatter plots between selected classes to observe relationships

In [ ]:
drop_columns = ['num_extras', 'bathrooms','parking_spots', 'agreement', 'days_until_move_in',
       'pets', 'outdoor_space', 'smoking', 'mins_guelph', 'mins_waterloo', 'num_utils']

scatter_df = df.drop(columns=drop_columns)



for i, ca in enumerate(scatter_df.drop(columns=['ad_id', 'unit_type']).columns):
    for j, cb in enumerate(scatter_df.drop(columns=['ad_id', 'unit_type']).columns[i:]):
            if ca != cb:
                fig = px.scatter(scatter_df.loc[:, list(set(['ad_id', 'unit_type', ca, cb, 'price']))], 
                                 x=ca,
                                 y=cb,
                                 color='unit_type',
                                 title='{} vs {}'.format(ca, cb),
                                 size='price',
                                 hover_data=['ad_id'])

                fig.show()

## Plotting price and size, we can see there is a clear relationship between both attributes

In [ ]:
df['price'].iplot(kind='histogram', xTitle='Price of Apartment', title='Frequencies of Apartment Prices')
df[['size']].iplot(kind='histogram', xTitle='Size of Apartment (SqFt)', title='Frequencies of Apartment Sizes in Sqft')

## Distribution of Amenities

In [ ]:
df[['num_utils', 'num_extras', 'num_appliances']].iplot(kind='histogram', 
                                                    title='Number of Amenities by Groups')

In [ ]:
df[['bedrooms']].iplot(kind='histogram')

In [ ]:
import matplotlib.pyplot as plt 

layout1 = cf.Layout(
    height=900,
    width=1000
)
df.corr().iplot(kind='heatmap',
                colorscale="PuRd",
                title="Feature Correlation Matrix",
               layout=layout1)

## Simple Regression, Baseline Model

In [ ]:
# scatter plot

train = df[df['size'] > 0]
fig = train.iplot(asFigure=True, 
                  x='size', 
                  y='price',
                  mode='markers',
                  title='Simple Scatter Plot to Visualize Usefulness of Linear Regression')
fig.show()

In [ ]:
regressor = LinearRegression()
if TEST_SIZE:
    X_train, X_test, y_train, y_test = train_test_split(
        train.loc[:, ['size']],
        train.loc[:, ['price']],
        test_size=0.15,
        random_state=123
    )
else:
    
    X_train, y_train, = train.loc[:, ['size']], train.loc[:, ['price']]
    X_test, y_test = X_train, y_train
    
regressor.fit(X_train, y_train)

# #To retrieve the intercept:
print(regressor.intercept_)
# #For retrieving the slope:
print(regressor.coef_)

In [ ]:
# X = np.array(np.linspace(min(train['size']), max(train['size']), 50))
y_pred = list( regressor.predict( X_test ).reshape(-1) )

test = pd.DataFrame({'x' : X_test['size'],
                          'y_test' : y_test['price'],
                          'y_pred' : y_pred
                    })

fig = go.Figure()


MSE = mean_squared_error(train['price'], test['y_pred'])
RMS = MSE**(1/2)
print('MSE', MSE, '\nRMS', RMS)

fig.update_layout(title='Regression Line Plotted vs Training Points | MSE={} |RMS={}'.format(MSE,RMS),
                  width=1000, height=600)
# draw training points
fig.add_trace(go.Scatter(x=train['size'], 
                         y=train['price'],
                         mode='markers',
                         name='Points',
                        ))


# draw regression line
fig.add_trace(go.Scatter(x=test['x'], y=test['y_pred'],mode='lines', name='Regression Line'))


fig.show()

## Add More Features, Multiple Linear Regression

In [ ]:
mult_regressor = LinearRegression()
features = ['bedrooms', 'num_appliances', 'num_utils', 'num_extras', 'size']
if TEST_SIZE:

    X_train, X_test, y_train, y_test = train_test_split(
        train.loc[:, features],
        train.loc[:, ['price']],
        test_size=0.15,
        random_state=123
    )
else:
    
    X_train, y_train = train.loc[:, features], train.loc[:, ['price']]
    X_test, y_test = X_train,  y_train

mult_regressor.fit(X_train, y_train)
# #To retrieve the intercept:
print(mult_regressor.intercept_)
# #For retrieving the slope:
print(mult_regressor.coef_)

In [ ]:
y_pred = list( mult_regressor.predict( X_test ).reshape(-1) )

mult_test = pd.DataFrame({'x' : X_test['size'],
                          'y_test' : y_test['price'],
                          'y_pred' : y_pred
                    })

fig = go.Figure()


MSE = mean_squared_error(y_test, y_pred)
RMS = MSE**(1/2)


fig.update_layout(title='Multiple Regression Predictions vs Ground Truths | MSE={} |RMS={}'.format(MSE,RMS),
                  width=1000, height=600)

fig.add_trace(go.Scatter(x=train.index, 
                         y=y_test['price'],
                         mode='markers+lines',
                         name='ground_truths'))

fig.add_trace(go.Scatter(x=train.index,
                         y=y_pred,
                         mode='markers+lines',
                         name='predictions'))



fig.show()

# While not an enormous difference, the mean squared error is lower when using the multiple regression as opposed to the simple linear regression
## Note that the line between the prediction points means nothing, it merely gives the graph more structure

# So which is the best priced one-bedroom apartment??

In [ ]:
gain_df = pd.DataFrame({'benefit' : mult_test['y_test'] - mult_test['y_pred']})

final_df = pd.concat([gain_df, df], axis=1)

one_bedrooms_df = final_df[final_df['bedrooms'] < 2.0]
within_budget = one_bedrooms_df[one_bedrooms_df['price'] < BUDGET]

print('Best Priced Bedroom Within Budget')
display(within_budget[within_budget['benefit'] == max(within_budget['benefit'])])